<p id="notice"><%= notice %></p>

<% if @user.icon.present?%>
  <div><%= image_tag(@user.icon_url, :alt => @user.email)%></div>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
